* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

.contact-banner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 200px;
	background: rgba(41, 238, 41, 0.831);
}

.contact-banner p {
	margin: 0 30px;
}

.contact-info {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px 0 5px 0;
}

.social-media {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px 0 5px 0;
}

.social-media img {
	margin: 0 40px;
}

.header-wrapper {
	height: 655px;
	background-image: url(Images/background-image.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.header-nav {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	align-items: center;
	padding: 10px 60px;
	background: rgba(0, 0, 0, 0.7);
}

.header-wrapper h2 {
	background-image: linear-gradient(90deg, rgb(0, 255, 0), rgba(72, 72, 255, 0.315), white);
	background-size: 100%;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-text-fill-color: transparent;
	background-image: linear-gradient(rgb(0, 255, 0), rgba(40, 40, 250, 0.719), rgb(255, 255, 255));
	font-size: 40px;
}

.header-navbar {
	display: flex;
	list-style: none;
	justify-content: center;
	padding: 30px 0;
}
.header-navbar a {
	color: white;
	text-decoration: none;
}

.header-navbar a:visited {
	color: white;
	text-decoration: none;
}

.header-navbar li {
	margin: 0 30px;
	color: white;
	font-family: 'Montserrat', sans-serif;
	padding: 5px 20px;
	background: transparent;
}

.header-navbar li:hover {
	background: rgba(41, 238, 41, 0.603);
	transition: 0.2s;
	border-radius: 30px;
}

.logo {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border: 2px solid rgba(118, 245, 118, 0.808);
	border-radius: 20px;
	padding: 10px 20px;

	font-family: 'Lexend Peta', sans-serif;
}

.logo .fitness {
	font-size: 30px;
	margin-top: -13px;
}

.feature-wrapper {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	background: rgba(209, 209, 209, 0.705);
	text-align: center;
}

.feature-wrapper h2 {
	padding: 20px 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 24px;
}

.access {
	display: flex;
	justify-content: center;
	align-items: center;
}

.waiting-time {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 20px 0 0;
}

.feature-wrapper img {
	margin: 0 30px;
}

.classes {
	display: flex;
	justify-content: center;
	align-items: center;
}

.our-team {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
}

.our-team-wrapper {
	margin: 100px;
}

.our-team img {
	border-radius: 50%;
	width: 500px;
	height: 500px;
}

.our-team-bio {
	width: 50%;
	margin: 0 50px;
}

.classes-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin: 0 auto;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
}

.personal-training-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	/* background: rgba(0, 0, 0, 0.1); */
	color: black;
}

.personal-training-container img {
	width: 50%;
}

.personal-training-container h1 {
	width: 50%;
}

.group-classes-container img {
	width: 50%;
}

.group-classes-container h1 {
	width: 50%;
}

.group-classes-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	/* background: rgba(0, 0, 0, 0.1); */
	color: black;
}

.classes-container h1 {
	margin: 0 100px;
}

.main-wrapper {
	margin: 50px 0 100px;
	text-align: center;
}

.main-wrapper h1 {
	margin: 150px 0 70px 0;
}

.mebership-packages-wrapper {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-content: center;
	align-items: center;
	width: 60%;
	margin: 0 auto;
	font-family: 'Montserrat', sans-serif;
	grid-gap: 50px;
}

.membership-yearly {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	text-align: center;
}

.membership-yearly:hover {
	transform: scale(1.1);
	transition: 0.3s;
}

.membership-offpeak:hover {
	transform: scale(1.1);
	transition: 0.3s;
}

.membership-weekends:hover {
	transform: scale(1.1);
	transition: 0.3s;
}

.membership-offpeak {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	text-align: center;
}

.membership-weekends {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	text-align: center;
}

.row1 {
	background: rgba(0, 0, 0, 0.938);
	width: 100%;
	color: white;
	padding: 30px 50px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

.row2 {
	background: rgba(41, 238, 41, 0.831);
	width: 100%;
	color: black;
	padding: 30px 50px;
}
.row3 {
	background: rgba(41, 238, 41, 0.831);
	width: 100%;
	color: black;
	padding: 30px 50px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}

.row3 p {
	font-size: 10px;
}

.mebership-packages-wrapper button {
	background: black;
	color: white;
	padding: 10px 30px;
	font-size: 30px;
	border-radius: 40px;
	border: none;
	margin: 100px 0 30px 0;
}

.mebership-packages-wrapper button:hover {
	background: white;
	color: black;
	transition: 0.2s;
}

.footer {
	display: flex;
	justify-content: space-evenly;
	list-style: none;
	background: rgba(0, 0, 0, 0.85);
	padding: 30px 0;
}

.footer h1 {
	font-size: 20px;
	margin-bottom: 10px;
	color: white;
}

.footer a {
	color: white;
	text-decoration: none;
}

.Information {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	justify-content: flex-start;
}

.our-gym {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	justify-content: flex-start;
}

.Hours {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	justify-content: flex-start;
	color: white;
}

.Hours span {
	font-weight: 800;
	margin-right: 5px;
	color: white;
}

.Store {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	justify-content: flex-start;
	color: white;
}

.Store span {
	font-weight: 800;
	margin-right: 5px;
	color: white;
}

.header a {
	color: white;
	text-decoration: none;
}

.header a:visited {
	color: white;
	text-decoration: none;
}

@media (max-width: 1527px) {
	.contact-banner {
		padding: 0 100px;
		background: rgba(41, 238, 41, 0.831);
	}

	/* .contact-banner p {
		margin: 0 30px;
	}

	.contact-info {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 5px 0 5px 0;
	}

	.social-media {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 5px 0 5px 0;
	}

	.social-media img {
		margin: 0 40px;
	} */
}

@media (max-width: 1280px) {
	.contact-banner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 20px;
		background: blue(41, 238, 41, 0.831);
	}

	.contact-banner p {
		margin: 0 30px;
	}

	.contact-info {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 5px 0 5px 0;
	}

	.social-media {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.social-media img {
		margin: 0 30px;
	}
}

@media (max-width: 1127px) {
	.contact-banner {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
}

@media (max-width: 1450px) {
	.personal-training-container img {
		height: 400px;
	}

	.group-classes-container img {
		height: 400px;
	}
}

@media (max-width: 1450px) {
	.personal-training-container img {
		height: 400px;
	}

	.personal-training-container h1 {
		font-size: 30px;
	}

	.group-classes-container img {
		height: 400px;
	}

	.group-classes-container h1 {
		font-size: 30px;
	}
}

@media (max-width: 1100px) {
	.our-team img {
		width: 300px;
		height: 300px;
	}

	.our-team-bio {
		width: 100%;
	}
}

@media (max-width: 1081px) {
	.header-nav {
		font-size: 12px;
		padding: 10px 20px;
		text-align: center;
	}
}

@media (max-width: 947px) {
	.contact-banner p {
		margin: 0 10px;
	}

	.contact-info {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 5px 2px;
	}
}

@media (max-width: 900px) {
	.our-team {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.our-team-bio {
		margin: 50px;
		width: 100%;
	}

	.our-team-wrapper {
		margin: 100px 10px;
	}
}

@media (max-width: 900px) {
	.contact-info {
		display: none;
	}
}

@media (max-width: 1000px) {
	.personal-training-container img {
		height: 300px;
	}

	.group-classes-container img {
		height: 300px;
	}
}

@media (max-width: 730px) {
	.personal-training-container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.group-classes-container img {
		width: 70%;
		margin: 0 auto;
	}

	.group-classes-container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.personal-training-container img {
		width: 70%;
		margin: 0 auto;
	}

	.group-classes-container h1 {
		display: none;
	}

	.personal-training-container h1 {
		display: none;
	}

	.feature-wrapper h2 {
		display: none;
	}

	.feature-wrapper img {
		margin: 20px 0;
	}
}
@media (max-width: 670px) {
	.header-navbar li {
		margin: 0 10px;
	}
}

@media (max-width: 590px) {
	.personal-training-container img {
		width: 100%;
	}

	.group-classes-container img {
		width: 100%;
	}
}

@media (max-width: 490px) {
	.header-navbar {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		font-size: 15px;
	}
}
